/* RE-SET BY DEFAULT BEHAVIOUR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GRID FIRST LAYOUT */
/* common shared classes */
h1 {
  text-align: center;
  color: rgb(120, 227, 191);
  font-weight: bold;
}
img {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  gap: 2px;
  width: 800px;
  height: 200px;
  margin: 0px auto 2px;
}

.flex-1 {
  flex: 1;
}

.hr-double-img img {
  height: calc((100% - 5px) / 2);
}

.img-square {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

/* GRID SECOND LAYOUT */
.container {
  max-width: 800px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px) 50px 50px;
  gap: 10px;
}

.box {
  background-color: gray;
  color: white;
  border-radius: 5px;
  text-align: center;
}

#box-1 {
  grid-row: span 5;
}

#box-11,
#box-12 {
  grid-column: span 3;
}

.box-bg-color {
  background-color: #ef585b;
}

/* STYLES FOR RESPONSIVENESS */

/* FOR SMALL DEVICES */

/* FIRST LAYOUT */
@media screen and (max-width: 576px) {
  .row {
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .img-square {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* FOR MEDIUM DEVICES */

/* FIRST LAYOUT */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .row {
    flex-direction: column;
    width: auto;
    height: auto;
  }
}
